/*----------HEADER----------*/

header {
  background-color: #2e2e2e;
  color: #fff;
  width: 100%;
  min-height: 10%;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  font-family: 'Delicious Handrawn', sans-serif;
  font-size: 1.5em;
}

.title img {
  max-height: 150px;
}

/*----------SIDEBAR----------*/

#sidebar {
  position: fixed;
  right: 0;
  width: 20%;
  max-width: 200px;
  min-height: 500px;
  height: 100%;
  background-color: #676767;
  overflow-y: auto;
  border-top: 1ch solid #2e2e2e;
  border-left: 1ch solid #2e2e2e;
  border-bottom: 1ch solid #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*----------NAV----------*/

.nav-header {
  margin-top: 0;
  margin-bottom: auto;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
}

.navigation {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  margin-top: auto;
  font-family: 'Righteous', sans-serif;
}

.navigation ul {
	padding-left: 0;
  margin-top: 50%;
}

.navigation li {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.navigation a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  text-align: right;
  
}

.navigation a:hover {
  background-color: #333;
}

.nav-divider {
	width:100%;
	text-align:right;
	margin-right:0
}

/*----------BODY----------*/

body {
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

#posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
}

.post {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 25px;
  width: 30%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.post .writer {
  font-weight: bold;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.post img {
  border: 1px solid #3e3e3e;
  width: 100%;
  height: auto;
}

.post .caption {
  font-weight: bold;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
}

.post .content {
  margin-top: 10px;
  margin-left: 5px;
}

.post .date {
  margin-top: 10px;
  color: #999;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.post .responsibilities .bullet {
  margin-top: 10px;
  margin-left: 5px;
  list-style: disc;
  padding-left: 20px;
}

.post .responsibilities ul {
  margin-top: 10px;
  margin-left: 5px;
  list-style: disc;
  padding-left: 20px;
}

#progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}

.skill-text {
  margin-top: 0;
  margin-bottom: 1%;
  font-size: 2em;
}

.progress-bar {
  margin-bottom: 5%;
  width: 50%;
}

progress {
  -webkit-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: ##4FB286;
  border-radius: 0px;
}

progress::-webkit-progress-value {
  background-color: #4FB286;
  border-radius: 0px;
}

progress::-moz-progress-bar {
  background-color: #4FB286;
  border-radius: 0px;
}

/*----------CONTACT----------*/

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a{
  display: inline-block;
  margin-top: 3%;
  margin-right: 5px;
  margin-left: 5px;
  justify-content: center;
}

.icon {
  width: 100px;
  height: 100px;
  padding 25px;
  justify-content: center;
}

.other-contact {
  display: flex;
  flex-direction: horizontal;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
}

.sites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
  width: 25%;
}

/*----------LINKS----------*/

.link-btn {
  background-color: #1a1a1a;
  border: none;
  color: #f2f2f2;
  width: 250px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5% 0 0 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 20px;
}

.link-btn:hover {
  background-color: #4FB286;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

a:link {
  color: #f2f2f2;
}

a:visited {
  color: #f2f2f2;
}

/*----------ABOUT----------*/

.about {
  display: flex;
  flex-direction: row;
  padding-left: 20%;
  padding-top: 10%;
  padding-bottom: 5%;
}

.about-img {
  max-width: 20%;
  max-height: 20%;
  object-fit: cover;
}

.about-text {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 35%;
  font-family: 'Righteous', sans-serif;
}
